.hero{
    color:#fff;
    background: url("bg.jpg") no-repeat center center;
    padding:216px 0;
    text-align: center;
    position: relative;
}

.hero .onTop{
    position: relative;
    z-index:2;
}
.hero:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(54,69,79, .65);
}

.hero h1 {
    font-size:52px;
    font-family: 'Raleway', sans-serif;
}

.hero h2 {
    font-size:32px;
    font-family: 'Raleway', sans-serif;
    max-width:700px;
    font-weight:100;
    margin-left:auto;
    margin-right:auto;
}

.hero .button {
    margin-top:24px;
}

.hero .fa-github {
    font-size:20px;
    margin-left:8px;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.title-filter-bar {
    width:100%;
    margin:8px 0;
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.title-filter-bar .title {
    margin-right: 8px;
    display: inline-block;
}

.title-filter-bar .taggle_list {
    width: 100%;
}

.title-filter-bar .taggle_placeholder {
    width: 200px;
}

.filter-tags {
    position: relative;
}

.taggle_placeholder {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.taggle_input {
    width: 100% !important;
    font-size: 13px;
    padding: 8px 4px 4px 0;
}
.taggle_list {
    padding: 0;
    width: 200px;
    border:0;
}

.taggle_list .taggle {
    padding: 3px 18px 3px 8px;
    font-size: 13px;
}

.filter-by-text {
    margin-left: 8px;
    margin-bottom:0;
    color: #555;
}

.filter-by-text.hidden {
    margin:0;
    height:0;
}

.filter-by-text .filter-tag {
    color:#999;
}
.submissions {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-bottom: 24px;
}

.submissions:after {
    content: "";
    flex-grow:1;
    margin: 16px 6% 0 6%;
    width: calc(100% * (1/5));
}

.submission {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    margin: 16px 6% 0 6%;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    width: calc(100% * (1/5));
}

.submission:first-child, .submission:nth-child(n+2) {
    margin-left:0;
}

.submission:last-child {
    margin-right:0;
}

.submission .title {
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-top:0;
    margin-bottom: 8px;
}

.submission .tags {
    margin:0;
    padding:0;
}

.submission .tag {
    background: #E2E1DF;
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 6px;
    white-space: nowrap;
    word-wrap:break-word;
    border-radius: 3px;
    position: relative;
    transition: background .3s;
    cursor:pointer;
}

.submission .tag:hover {
    background: #ccc;
}

.submission .meta-info {
    margin-top: 12px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.submission .user-image{
    width: 40px;
    height: 40px;
}


.submission .reviews-count-container {
    text-align: center;
    color: #777;
    margin:0;
    align-self:flex-end;
}

.reviews-count-container .reviews-count, .reviews-count-container .reviews-text {
    margin:0;
}

.submission .username {
    margin: 0;
}

.submission .user-info {
    align-self: flex-end;
}

.submission .post-time {
    font-size: 11px;
    color: #999;
    margin:0;
    align-self: flex-end;
}

