.container {
    margin: 0 auto;
    width: 60%;
}

.title-filter-bar {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.title-filter-bar .title {
    margin :0;
    align-self: flex-end;
    font-family: 'Raleway', sans-serif;
}
.filter-tags {
    position: relative;
    margin-bottom: -4px;
}

.taggle_placeholder {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.taggle_input {
    width: 100% !important;
    font-size: 13px;
    padding: 8px 4px 4px 0;
}
.taggle_list {
    padding: 0;
    width: 200px;
    border:0;
}

.taggle_list .taggle {
    padding: 3px 18px 3px 8px;
    font-size: 13px;
}

.filter-by-text {
    margin-left: 8px;
    margin-bottom:0;
    color: #555;
}

.filter-by-text.hidden {
    margin:0;
    height:0;
}

.filter-by-text .filter-tag {
    color:#999;
}
.submissions {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.submission {
    padding: 16px 8px 16px 0;
    border-bottom: 1px solid #ddd;
    margin-top: 4px;
}

.submission .title {
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-top:0;
    margin-bottom: 8px;
}

.submission .tags {
    margin:0;
    padding:0;
}

.submission .tag {
    background: #E2E1DF;
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 6px;
    white-space: nowrap;
    word-wrap:break-word;
    border-radius: 3px;
    position: relative;
    transition: background .3s;
    cursor:pointer;
}

.submission .tag:hover {
    background: #ccc;
}

.submission .meta-info {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.submission .user-image{
    width: 40px;
    height: 40px;
}


.submission .reviews-count-container {
    text-align: center;
    color: #777;
    margin:0;
    align-self:flex-end;
}

.reviews-count-container .reviews-count, .reviews-count-container .reviews-text {
    margin:0;
}

.submission .username {
    margin: 0;
}

.submission .post-time {
    font-size: 11px;
    color: #999;
    align-self: flex-end;
    margin:0;
}

