::-moz-selection { background: yellow; }
::selection { background: yellow; }

body, html{
    margin:0;
    padding:0;
}
body {
    font-size:14px;
}

pre code, pre {
    white-space: pre-wrap;
}

pre, code{
    margin:0;
}

.block {
    display:flex;
}

.hljs {
    padding:0;
}

.hljs > div {
    padding:3px 10px;
    user-select: none;
}

.hljs > div:hover {
    background-color: #cecece;
    cursor: pointer;
}

.hljs div.active {
    background-color: #bfbfbf;
}

.container {
    display: flex;
}

.container .code {
    flex: 2;
    display: flex;
    padding: 16px 24px;
    background: #F0F0F0;
}

.container .code .codecode {
    flex: 1;
}

.container .action-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #444;
    color: #fff;
    padding: 16px 24px;
    text-align: left;
}

.action-bar .comment .editor-toolbar {
    background-color: #fff;
    opacity: 1;
}

.action-bar .comment .CodeMirror {
    height: 200px;
    min-height: initial;
}

.action-bar .comment .editor-statusbar {
    color:#fff;
}
.linenums{
    background-color: #F0F0F0;
    border-right:1px solid #ddd;
}

.linenums div {
    padding: 3px;
    display: block;
}

.inline-block {
    display: inline-block;
}
.linenums .active {
    height:130px;
}

.comment-editor {
    height:100px;
    display: block;
}

.linenums div.highlight {
    background-color: red;
}
