.color-muted {
    color:#888;
}

.block {
    display:flex;
}

.editor-container .files {
    background: #F0F0F0;
    height: 100vh;
    overflow-y: scroll;
    flex-grow: 1;
}

.hljs {
    padding:0;
}

.hljs > div {
    padding-top:4px;
    padding-bottom:4px;
    user-select: none;
}

.hljs > div:hover {
    background-color: #cecece;
    cursor: pointer;
}

.hljs div.active, .hljs div.highlight {
    background-color: #bfbfbf;
}

.hljs div.highlighted {
    background-color: #dedede;
}

.linenums {
    background-color: #F0F0F0;
    border-right:1px solid #ddd;
}

.linenums div {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    text-align: center;
}

.linenums div:hover {
    background-color: #d7d7d7;
    cursor: pointer;
}

.hljs > div, .linenums div {
    padding-left: 8px;
    min-height:16px;
    padding-right: 8px;
    transition:.3s all ease-in-out;
}

.editor-container {
    display: flex;
}

.action-bar .comment {
    /*flex:1;*/
}

.comment .submit{
    margin-left: 8px;
}

.comment .buttons {
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 2;
}

.editor-container .file .display {
    flex: 1;
    display: flex;
    padding: 0 0 0 24px;
    background: #F0F0F0;
}

.file .title {
    padding:8px 0 8px 64px;
    font-weight:300;
    background-color: #E0E0E0;
    color: #777;
}

.editor-container .file .code-container {
    flex: 1;
}

.editor-container .action-bar {
    flex: 2;
    /*https://scotch.io/tutorials/a-visual-guide-to-css3-flexbox-properties*/
    background-color: #444;
    color: #fff;
    height:100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.action-bar .all-comments {
    height:60vh;
    overflow-y: scroll;
}

.all-comments .comment-separator {
    border: 0;
    background-color: #888;
    height: 1px;
    margin: 0;
}

.action-bar .section-separator {
    border: 0;
    background-color: #777;
    height: 1px;
    margin: 0;
}

.action-bar .section-title{
    color:#888;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
}

.user-comment {
    transition:.3s all ease-in-out;
    padding: 0 40px 0 16px;
    border-bottom: 1px solid #5f5f5f;
    display: flex;
}

.user-comment.selected {
    background-color: #545454;
}

.user-comment .upvote-area {
    padding: 8px 24px 0;
}

.upvote-area .upvote-count {
    display: block;
    text-align: center;
}

.upvote-area .upvote-holder .fa{
    font-size: 20px;
}

.user-comment .comment-area {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 8px 0 16px;
}

.comment-area .user-info {
    display: flex;
}

.user-info .profile-picture {
    max-width:50px;
    margin-right: 12px;
}

.user-info .profile-area {
    flex:1;
    text-align: right;
}

.profile-area figure {
    margin: 0;
}

.profile-area .profile-info {
    display: inline-block;
}

.profile-info .username{
    display: block;
    margin-bottom:16px;
}

.profile-info .reputation{
    display: block;
    text-align:left;
}

.user-info .posted-time-area {
    align-self: flex-end;
}

.user-info .view-code {
    cursor:pointer;
    font-size:12px;
    color:#888;
}

.user-info .posted-time {
    color:#999;
    font-size:11px;
    margin:0;
}

.comment .CodeMirror {
    border-radius: 0;
    height:100%;
}

.action-bar .comment .editor-toolbar {
    background-color: #fff;
    opacity: 1;
    border-radius: 0;
}

.action-bar .comment .editor-statusbar {
    color:#fff;
}